.loadmore-btn{
	@include circlestyle($accent,70px);
	font-weight: 700;
	outline:none;
	display: block;
	margin:20px auto;
}

a.button {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 31px;
    padding-right: 10px;
    color: #183f4c;
    background: transparent url(images/sm_a.png) no-repeat top right;
    text-decoration: none;
}

a.button:hover {
    color: #fff;
    background-position: bottom right;
    text-decoration: none;
}

a.button span {
    display: block;
    line-height: 14px;
    padding: 8px 0 9px 10px;
    background: transparent url(images/sm_span.png) no-repeat top left;
}

a.button:hover span {
    color: #fff;
    background-position: bottom left;
}