/**
 * partials/footer
 * ---
 */


.footer {
	background:$footer-color;
	padding:20px 0px;
}

.footer-wrap{    
	max-width: 900px;
    margin: 0 auto;
    padding: 0px 40px;
}


.logo{
	padding:5px;

	@include breakpoint(700px) {
		@include span(2 of 12);
	}

	> .logo-image{
		margin:0 auto;
	}
}

.links{

	@include breakpoint(700px) {
		@include span(10 of 12 last);
	}

	ul{
		margin:0;
		padding:0;
	}

	li{
		display: inline-block;
		vertical-align: middle;

		> a{
			color:$white;
			font-size: 14px;
			&:hover{
				color:$main-color;
				text-decoration: none;
			}
		}
	}
}

.copyright{
	margin:0;
	padding:5px 0px;
	color:lighten(desaturate(adjust-hue(#331e27, -9.7403), 13.4259), 18.6275);

	> a{
	color:lighten(desaturate(adjust-hue(#331e27, -9.7403), 13.4259), 18.6275);		
	}
}