/**
 * partials/header
 * ---
 */


// Header container
.header {
	position: fixed;
	width:100%;
	z-index: 100;
}

// Logo
.logo {
	text-indent: -140px;
}

.logo-image{
	background-size: cover;
	background-position: center;
	width:50px;
	height:50px;
}

%menustyle{
	background: rgba(0,0,0,0.3);
	padding:10px;
	width:50px;
	text-align: center;
	position: absolute;
	top:0;
	cursor:pointer;

	> i{
		color:$white;
	}
}

.searchbar{
	@extend %menustyle;
	right:65px;
}

.menubar{
	@extend %menustyle;
	right:5px;	
}

.nav{
	margin-top:41px;
	max-height:0;
	overflow:hidden;
	transition: max-height 0.3s ease;
	background: $footer-color;
	
	a {
		color:$white;
	}
}

.nav-active{
	max-height:500px;
	overflow: visible;
}

.menu{
	padding: 0;
	margin: 0; 
	> li { 
		> a{
			display: block;
			padding:10px;
			text-decoration: none;

			&:hover, &:focus, &:active{
				color:$white;
				background:$main-color;
			}
		}
	}
}