.date-module{
	text-align: center;
	> .date{   
		line-height: 50px;
		margin:0 auto;
		@include circlestyle($accent, 50px);
		@extend %text-medium; ///may also use as variable
	}

	> .year{
		font-weight: 600;
		color:$accent;
		padding:3px 0px;
	}
}

.article-block{
	position: relative;
	border-bottom:1px dashed;
	padding:20px 0px;

	> p {
		> a { ///third level css?
			font-size: 16px;
		}
	}	
}

// post head
