/**
 * partials/wrapper
 * ---
 */

.img-wrap{
	overflow: hidden;
}

.wrapper {
  max-width: $wrapper-width;
  // padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
}

.article-wrap{  ///suggest to use 'wrap' instead of container
	border-top:5px solid $main-color;
	max-width:900px;
	padding:0px 40px;
	background:$white;
	
	@include breakpoint(700px) {
		margin:-100px auto 0;
	}
}

.post-head{
	@extend .clear;
	padding-bottom:10px;

	@include breakpoint(700px) {

		> .info{
			@include span(10 of 12);
			word-wrap:break-word;
		}

		> .published {
			@include span(2 of 12 last);
		}
	}
}

.footer-wrap{
	@extend .clear;
}

// gallery wrapper for post
.post-gallery{
	text-align: center;
	background:#222;
	color:$white;
	padding:10px 0px;

	> h1{
		font-weight: 100;
	}
}

.gallery-item {
	display: inline-block;

	> .gallery-caption{
		padding:10px;
		font-size: 12px;
	}	
}

// for aside 
.post-aside{
	background:#222;
	color:$white;
	padding:10px;
}

// banner

.header-banner{
	height:400px;
	background-image: url('http://wallpapercave.com/wp/UhMAyDp.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: -1;

	@include breakpoint(700px) {
		height:680px;
	}
}

.web-logo{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 150px;
    left: 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	
	@include breakpoint(1000px) {
		width:570px;
		left:170px;
	}

    a{
    	display: block;
    	width:100%;
    	height:100%;
    }
}