/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}

// circle 
@mixin circlestyle($background, $size) {
	background: $background;
	width: $size;
	height: $size;
	border-radius:100px;
	color:$body-bg;
	border:none;
}
