/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */
$main-color:#f78d7d;
$accent:#5f5d75;
$footer-color:#331e27;
$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;
$white:#fff;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

/**
 * Susy
 */

$susy: (
  columns: 12,
);
