/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * Susy
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #444;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

ul {
  list-style-type: none; }

p {
  font-size: 14px; }
  p > a {
    color: #5f5d75;
    font-weight: 700; }
    p > a:hover, p > a:active, p > a:focus {
      color: #f78d7d;
      text-decoration: none; }

h2 {
  margin: 0; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .post-head:before, .footer-wrap:before, .clear:after, .post-head:after, .footer-wrap:after {
  content: " ";
  display: table; }

.clear:after, .post-head:after, .footer-wrap:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.img-wrap {
  overflow: hidden; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

.article-wrap {
  border-top: 5px solid #f78d7d;
  max-width: 900px;
  padding: 0px 40px;
  background: #fff; }
  @media (min-width: 700px) {
    .article-wrap {
      margin: -100px auto 0; } }

.post-head {
  padding-bottom: 10px; }
  @media (min-width: 700px) {
    .post-head > .info {
      width: 83.05085%;
      float: left;
      margin-right: 1.69492%;
      word-wrap: break-word; }
    .post-head > .published {
      width: 15.25424%;
      float: right;
      margin-right: 0; } }

.post-gallery {
  text-align: center;
  background: #222;
  color: #fff;
  padding: 10px 0px; }
  .post-gallery > h1 {
    font-weight: 100; }

.gallery-item {
  display: inline-block; }
  .gallery-item > .gallery-caption {
    padding: 10px;
    font-size: 12px; }

.post-aside {
  background: #222;
  color: #fff;
  padding: 10px; }

.header-banner {
  height: 400px;
  background-image: url("http://wallpapercave.com/wp/UhMAyDp.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1; }
  @media (min-width: 700px) {
    .header-banner {
      height: 680px; } }

.web-logo {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 150px;
  left: 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 1000px) {
    .web-logo {
      width: 570px;
      left: 170px; } }
  .web-logo a {
    display: block;
    width: 100%;
    height: 100%; }

/**
 * partials/header
 * ---
 */
.header {
  position: fixed;
  width: 100%;
  z-index: 100; }

.logo {
  text-indent: -140px; }

.logo-image {
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px; }

.searchbar, .menubar {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  cursor: pointer; }
  .searchbar > i, .menubar > i {
    color: #fff; }

.searchbar {
  right: 65px; }

.menubar {
  right: 5px; }

.nav {
  margin-top: 41px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #331e27; }
  .nav a {
    color: #fff; }

.nav-active {
  max-height: 500px;
  overflow: visible; }

.menu {
  padding: 0;
  margin: 0; }
  .menu > li > a {
    display: block;
    padding: 10px;
    text-decoration: none; }
    .menu > li > a:hover, .menu > li > a:focus, .menu > li > a:active {
      color: #fff;
      background: #f78d7d; }

/**
 * partials/nav
 * ---
 * Menus
 */
/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  background: #331e27;
  padding: 20px 0px; }

.footer-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 40px; }

.logo {
  padding: 5px; }
  @media (min-width: 700px) {
    .logo {
      width: 15.25424%;
      float: left;
      margin-right: 1.69492%; } }
  .logo > .logo-image {
    margin: 0 auto; }

@media (min-width: 700px) {
  .links {
    width: 83.05085%;
    float: right;
    margin-right: 0; } }

.links ul {
  margin: 0;
  padding: 0; }

.links li {
  display: inline-block;
  vertical-align: middle; }
  .links li > a {
    color: #fff;
    font-size: 14px; }
    .links li > a:hover {
      color: #f78d7d;
      text-decoration: none; }

.copyright {
  margin: 0;
  padding: 5px 0px;
  color: #634d5a; }
  .copyright > a {
    color: #634d5a; }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.date-module > .date {
  font-size: 1.5em; }

.date-module {
  text-align: center; }
  .date-module > .date {
    line-height: 50px;
    margin: 0 auto;
    background: #5f5d75;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: #fff;
    border: none; }
  .date-module > .year {
    font-weight: 600;
    color: #5f5d75;
    padding: 3px 0px; }

.article-block {
  position: relative;
  border-bottom: 1px dashed;
  padding: 20px 0px; }
  .article-block > p > a {
    font-size: 16px; }

.loadmore-btn {
  background: #5f5d75;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  color: #fff;
  border: none;
  font-weight: 700;
  outline: none;
  display: block;
  margin: 20px auto; }

a.button {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 31px;
  padding-right: 10px;
  color: #183f4c;
  background: transparent url(images/sm_a.png) no-repeat top right;
  text-decoration: none; }

a.button:hover {
  color: #fff;
  background-position: bottom right;
  text-decoration: none; }

a.button span {
  display: block;
  line-height: 14px;
  padding: 8px 0 9px 10px;
  background: transparent url(images/sm_span.png) no-repeat top left; }

a.button:hover span {
  color: #fff;
  background-position: bottom left; }

/*# sourceMappingURL=style.css.map */
